@import 'transitions';

@mixin _btn-active($bg-color, $color, $border-color) {
  &:active {
    background-color: $bg-color;
    color: $color;
    border-color: $border-color;
  }
}

@mixin _btn-hover($bg-color, $color, $border-color) {
  &:hover {
    background-color: $bg-color;
    color: $color;
    border-color: $border-color;
  }
}

@mixin _btn-focus($outline) {
  &:focus {
    outline: $outline;
  }
}

@mixin _btn($bg-color, $color, $border-color: black) {
  font-family: Lato, sans-serif;
  font-style: normal;
  user-select: none;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: $font-weight-bold;
  font-size: $font-size-button-lg;
  padding: 16px 15px 14px 15px;
  border: 1px solid $border-color;
  border-radius: 6px;
  white-space: nowrap;
  background-color: $bg-color;
  color: $color;
  text-decoration: none;
  text-align: center;
}

@mixin _btn-outlined($border-color) {
  border: 1px solid $border-color;
  background-color: $color-bg-transparent;
  color: $border-color;
}

@mixin _btn-contained($bg-color) {
  min-width: 138px;

  border-radius: 6px;
  color: $color-text-white;

  &:hover {
    background-color: $bg-color;
  }
}

@mixin _btn-medium($bg-color) {
  font-size: 17px;
  min-width: 97px;
  border-radius: 6px;
  color: $color-text-white;
  padding: 12px;
  border: none;
}

.btnContained {
  @include _btn($color-btn-bg-primary, $color-text-primary-darkest);
  @include _btn-active(
                  $color-bg-transparent,
                  $color-text-primary-darkest-lighten-1,
                  $color-border-black-lighten-1
  );
  @include _btn-focus(none);
  @include _btn-contained($color-primary-lighten-1);
}

.btnOutlinedExpandable {
  @include _btn($color-transparent, $color-primary, $color-primary);
  @include _btn-active($color-transparent-darker, darken($color-primary, 15%), darken($color-primary, 15%));
  @include _btn-hover($color-transparent-darker, darken($color-primary, 15%), darken($color-primary, 15%));
  @include _btn-focus(none);
}

.btnPrimary {
  @include _btn($color-btn-primary, $color-text-primary-darkest);
  @include _btn-active(
    $color-bg-transparent,
    $color-text-primary-darkest-lighten-1,
    $color-border-black-lighten-1
  );
  @include _btn-focus(none);
  @include _btn-medium($color-btn-primary);
}

.btnDanger {
  @include _btn($color-btn-danger, $color-text-primary-darkest);
  @include _btn-active(
    $color-bg-transparent,
    $color-text-primary-darkest-lighten-1,
    $color-border-black-lighten-1
  );
  @include _btn-focus(none);
  @include _btn-medium($color-btn-danger);
}

.btnPrimaryOutlined {
  @extend .btnPrimary;
  @include _btn-outlined($color-btn-primary);
}
